<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Travel Buddy Login and Registration</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'travelBuddy/css/indexStyle.css' %}">
    </head>
    <body>
        <div class="header">
            <h2>Travel Buddy</h2>
        </div>
        <div class="container">
            <h1>Welcome</h1>
            <div id="regBox">
                <span>Register</span>
                <br>
                {% if messages %}
                    <div class="errors">
                        <br>
                    {% for message in messages %}
                        {% if message.tags != 'login error' %}
                            {{message}}
                        {% endif %}
                        <br>
                    {% endfor %}
                    </div>
                {% endif %}
                <br>
                <form id="regForm" action="/register" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <label for="name">Name:</label>
                        <input class="input" type="text" name="name">
                        <br>
                        <label for="userName">Username:</label>
                        <input class="input" type="text" name="userName">
                        <br>
                        <label for="password">Password:</label>
                        <input class="input" type="password" name="password">
                        <br>
                        <label for="confirmPW">Confirm Password:</label>
                        <input class="input" type="password" name="confirmPW">
                        <br>
                        <input id="regBut" type="submit" value="Register">
                    </fieldset>
                    <br>
                </form>
            </div>

            <div id="loginBox">
                <span>Login</span>
                <br>
                {% if messages %}
                    <div class="errors">
                        <br>
                    {% for message in messages %}
                        {% if message.tags == 'login error' %}
                            {{message}}
                        {% endif %}
                        <br>
                    {% endfor %}
                    </div>
                {% endif %}
                <br>
                <form id="loginForm" action="/login" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <label for="userName">Username:</label>
                         <input type="text" name="userName">
                        <br>
                        <label for="password">Password:</label>
                         <input type="password" name="password">
                        <br>
                        <input type="submit" id="logBut" value="Login">
                    </fieldset>
                    <br>
                </form>
            </div>
        </div>
    </body>
</html>
