<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Trip details</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'travelBuddy/css/tripStyle.css' %}">
    </head>
    <body>
        <div class="header">
            <div class="hdrTitle">
                <h2>Travel Buddy</h2>
            </div>
            <div class="navbar">
                <a href="/travels">Home</a> | <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="container">
            <div class="trip">
                <h2>{{ trip.destination }}</h2><br>
                <h4>Planned by: {{ trip.organized.name }}</h4><br>
                <h4>Description: {{ trip.plans }}</h4><br>
                <h4>Travel Date From: {{ trip.startDate|date:'F j Y' }}</h4><br>
                <h4>Travel Date To: {{ trip.endDate|date:'F j Y' }}</h4><br>
            </div>
            <div class="others">
                <h2>Other Users joining trip:</h2><br>
                {% for plan in plans %}
                    <h4>{{ plan.join.name }}</h4><br>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
